$font-size-base: 16px;
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

@import 'load-awesome';

body {
  font-family: 'PT Serif', serif;
  font-size: 12pt;
  font-weight: 400;
  padding-bottom: 50px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
}

footer {
  padding-bottom: 30px;
}

a {
  transition: .1s ease text-shadow;
  &:hover {
    text-shadow: 1px 1px 5px transparentize($brand-primary, .7);
    text-decoration: none;
  }
}

h1 {
  font-size: 6rem;
}

.table-audio-list {
  tr td:first-child {
    width: 70px;
  }
}

.progress-player {
  height: 5px;
  margin-bottom: 0;
  position: absolute;
  width: 400px;
}

.overlay-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $zindex-navbar-fixed - 1;
  background-color: rgba(255, 255, 255, 0.8);
}

.overlay-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dropdown-scrollable {
  overflow-y: scroll;
  max-height: 500px;
}
