$font-size-base: 16px;
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

body {
  font-family: 'PT Serif', serif;
  padding-bottom: 50px;
}

footer {
  padding-bottom: 30px;
}
